<div
    class="my-16 p-4 flex flex-col gap-8 text-center lg:text-right bg-[#fff] dark:bg-[#081122] border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm">
    <div class="flex flex-row gap-4 justify-between items-center">
        <h2 class="text-xl md:text-2xl font-semibold dark:text-[#fff]">ترکیب دارایی‌ها</h2>
    </div>

    <app-area-chart *ngIf="allSeries.length" [title]="'ترکیب دارایی‌ها'" [seriesData]="[]" [seriesName]="''"
        [color]="''" [isDarkMode]="isDarkMode" [customSeries]="allSeries">
    </app-area-chart>
</div>