<div
    class="my-16 p-4 flex flex-col gap-8 text-center lg:text-right bg-white dark:bg-[#264553] border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm">
    <div class="flex flex-row gap-4 justify-between items-center">
        <h2 class="text-xl md:text-2xl font-semibold dark:text-white">ترکیب دارایی‌ها (همه در یک نمودار)</h2>
    </div>

    <app-market-chart *ngIf="allSeries.length" [title]="'ترکیب دارایی‌ها'" [isDarkMode]="isDarkMode"
        [customSeries]="allSeries">
    </app-market-chart>
</div>