<footer class=" mt-5 w-full z-50 bg-[#e1e9f1] dark:bg-[#081122] text-[#000000] dark:text-[#fff] shadow-md">
    <div
        class="flex flex-col sm:flex-row items-center justify-around bg-[#e97329] dark:bg-orange-700 px-10 py-3 text-white dark:text-gray-100 font-vazirmatn rtl space-y-2 sm:space-y-0 sm:space-x-reverse sm:space-x-4">
        <div class="text-right leading-relaxed w-full sm:w-auto">
            <p
                class="text-center text-base md:text-xl leading-relaxed w-full sm:w-auto tracking-wider">
                 صندوق مناسب سرمایه‌گذاری‌تان را هوشمندانه و دقیق انتخاب کنید.
            </p>

        </div>
        <button
            class="text-black bg-[#a8d0e6] dark:hover:bg-[#faa67e] hover:bg-[#faa67e] hover:font-semibold dark:bg-[#95c0cf] focus:ring-4 focus:ring-blue-300 rounded-lg text-base px-4 py-2.5 cursor-pointer w-full min-w-44 sm:w-auto ">
            شروع کنید
        </button>

    </div>
    <div class="mx-auto max-w-7xl px-6 py-10">
        <!-- Desktop -->
        <div class="hidden lg:flex justify-between gap-8 ">
            <!-- لوگو -->
            <div class="flex flex-col items-center ">
                <img class="h-24 w-auto" src="/img/MarketSenseLogo.png" alt="MarketSense Logo" />
                <span class="text-xl font-bold text-[#95c0cf] mt-2">Market Sense</span>
            </div>
            <div class="lg:grid grid-cols-3 gap-8">
                <!-- بخش‌ها -->
                <div *ngFor="let section of footerSections">
                    <h3 class="font-bold pr-4  pb-4">{{ section.label }}</h3>
                    <ul class="space-y-2 text-sm px-1">
                        <li *ngFor="let item of section.items">
                            <a *ngIf="item.href" [href]="item.href"
                                class="flex items-center gap-2 hover:text-[#F26827]">
                                <span>{{ item.icon }}</span>
                                {{ item.label }}
                            </a>
                            <div *ngIf="!item.href" class="flex items-center gap-2">
                                <span>{{ item.icon }}</span>
                                <span>{{ item.label }}</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Mobile -->
        <div class="lg:hidden flex flex-col gap-4">
            <!-- لوگو -->
            <div class="flex flex-col items-center">
                <img class="h-20 w-auto" src="/img/MarketSenseLogo.png" alt="MarketSense Logo" />
                <span class="text-xl font-bold text-[#95c0cf] mt-2">Market Sense</span>
            </div>

            <!-- آکاردئون -->
            <div class="border-b-2 border-gray-200" *ngFor="let section of footerSections">
                <button type="button" (click)="toggleMobileSubMenu(section.label)"
                    class="w-full flex justify-between items-center pt-1  p-3 font-bold hover:text-[#688b99]">
                    {{ section.label }}
                    <span>{{ openSubMenu === section.label ? '−' : '+' }}</span>
                </button>
                <div *ngIf="openSubMenu === section.label" class="px-6 pb-3 space-y-2 text-sm">
                    <div *ngFor="let item of section.items">
                        <a *ngIf="item.href" [href]="item.href" class="flex items-center gap-2 hover:text-[#F26827]">
                            <span>{{ item.icon }}</span>
                            {{ item.label }}
                        </a>
                        <div *ngIf="!item.href" class="flex items-center gap-2">
                            <span>{{ item.icon }}</span>
                            <span>{{ item.label }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>