<header class="sticky top-0  w-full z-50 bg-[#e1e9f1] shadow-md text-[#000000] dark:bg-[#081122] dark:text-[#fff]">
    <nav class="mx-auto flex items-end justify-between lg:px-11" aria-label="Global">

        <div class="flex lg:flex-1  items-center">
            <a href="#" class="flex items-end">
                <img class="h-16 w-auto" src="/img/MarketSenseLogo.png" alt="MarketSenseLogo">
                <span class="text-[#95c0cf] font-bold text-xl pb-3">Market Sense</span>
            </a>
        </div>

        <div class="hidden lg:flex lg:gap-x-5">
            <ng-container *ngFor="let item of menuItems">
                <div class="relative group">
                    <button
                        class="text-base font-medium  w-20 border-b-4 border-transparent group-hover:border-[#F26827] hover:text-[#688b99] focus:outline-none pb-2">
                        {{ item.label }}
                    </button>
                    <div
                        class="absolute right-0 top-full hidden group-hover:grid grid-flow-col-dense gap-8 bg-[#e1e9f1]   shadow-lg z-50 rounded-md p-6 min-w-max  dark:bg-[#081122]">
                        <div *ngFor="let sub of item.submenu">
                            <h3 class=" font-bold mb-4 border-b border-gray-600 pb-2">{{ sub.title }}</h3>
                            <ul class="space-y-2 text-sm min-w-[150px] px-3">
                                <li *ngFor="let link of sub.links">
                                    <a href="{{ link }}" class="hover:font-semibold hover:text-[#F26827]">{{ link }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>


        <div class="hidden lg:flex lg:flex-1 lg:justify-end items-center gap-4 pb-3">
            <button routerLink="/login" class="flex items-center justify-center" aria-label="User Profile">
                <app-svg-icon class="bg-gray-700 w-5 h-5 hover:bg-gray-900 dark:bg-[#fff] cursor-pointer"
                    [path]="'assets/icons/user.svg'"> </app-svg-icon>
            </button>

            <div class="relative">
                <button type="button" (click)="toggleSetting($event)" class="flex items-center justify-center setting-button">
                    <app-svg-icon class="bg-gray-700 w-6 h-6 hover:bg-gray-900 dark:bg-[#fff]" [path]="'assets/icons/settings.svg'">
                    </app-svg-icon>
                </button>

                <div *ngIf="settingOpen"
                    class="setting-panel bg-[#d0dce9]  dark:bg-[#081122] p-4 shadow-lg rounded-md absolute top-full -left-1/2 w-20 z-10">
                    <div class="flex flex-col items-center gap-2">
                        <button (click)="toggleTheme()"
                            class="relative flex items-center justify-center w-10 h-10 rounded-full  dark:bg-[#163B65] bg-gray-200 overflow-hidden">
                            <div [@fadeRotate]="isDarkTheme ? 'dark' : 'light'"
                                class="flex items-center justify-center">
                                <app-svg-icon *ngIf="isDarkTheme" class="bg-yellow-400 w-6 h-6"
                                    [path]="'assets/icons/sun.svg'"> </app-svg-icon>
                                <app-svg-icon *ngIf="!isDarkTheme" class="bg-blue-400 w-6 h-6"
                                    [path]="'assets/icons/moon.svg'"> </app-svg-icon>

                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex lg:hidden items-center justify-center gap-3 p-2 pb-3">
            <!--  تغییر تم -->
            <button (click)="toggleTheme()"
                class="relative flex items-center justify-center rounded-full  dark:bg-[#081122] bg-gray-200 overflow-hidden">
                <div [@fadeRotate]="isDarkTheme ? 'dark' : 'light'" class="flex items-center justify-center">
                    <app-svg-icon *ngIf="isDarkTheme" class="bg-yellow-400 w-6 h-6" [path]="'assets/icons/sun.svg'">
                    </app-svg-icon>
                    <app-svg-icon *ngIf="!isDarkTheme" class="bg-blue-400 w-6 h-6" [path]="'assets/icons/moon.svg'">
                    </app-svg-icon>
                </div>
            </button>

            <button routerLink="/login" class="flex items-center justify-center" aria-label="User Profile">
                <app-svg-icon class="bg-gray-700 w-5 h-5 hover:bg-gray-900 dark:bg-[#fff] cursor-pointer"
                    [path]="'assets/icons/user.svg'"> </app-svg-icon>

            </button>

            <button type="button" (click)="toggleMenu()" class="flex items-center justify-center">
                <app-svg-icon class="bg-gray-700 w-5 h-5 hover:bg-gray-900 dark:bg-[#fff]"
                    [path]="'assets/icons/list-simple.svg'"> </app-svg-icon>

            </button>
        </div>

    </nav>

    <div *ngIf="menuOpen" class="lg:hidden bg-[#e1e9f1] transition-all duration-500 overflow-hidden  dark:bg-[#081122]">
        <div class="flex flex-col space-y-2 py-6">
            <div *ngFor="let item of menuItems">

                <button type="button" (click)="toggleMobileSubMenu(item.label)"
                    class="w-full flex justify-between items-center px-6  hover:text-[#688b99] focus:outline-none">
                    {{ item.label }}
                    <ng-container *ngIf="openSubMenu === item.label; else plusIcon">
                        <app-svg-icon class="bg-[#000000] w-4 h-4 dark:bg-[#fff]" [path]="'assets/icons/minus-small.svg'"></app-svg-icon>
                    </ng-container>
                    <ng-template #plusIcon>
                        <app-svg-icon class="bg-[#000000] w-4 h-4 dark:bg-[#fff]" [path]="'assets/icons/plus-small.svg'"></app-svg-icon>
                    </ng-template>
                   
                </button>

                <div *ngIf="openSubMenu === item.label"
                    class="mt-2 flex flex-col gap-2 px-8 text-sm text-gray-700 transition-all duration-300 dark:text-gray-200">
                    <ng-container *ngFor="let sub of item.submenu">
                        <div class="font-bold dark:text-[#fff]">{{ sub.title }}</div>
                        <div *ngFor="let link of sub.links">
                            <a href="#" class="hover:text-[#688b99]">{{ link }}</a>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>
    </div>

</header>