<div class="flex flex-col gap-10">
    <app-banner></app-banner>

    <div class="flex justify-center px-4">
        <app-search-bar></app-search-bar>
    </div>
    <div class="flex justify-center sm:px-4 px-0">
        <app-top-funds class="w-full"></app-top-funds>
    </div>

    <div class="my-16 sm:m-4 sm:px-4 m-2 flex flex-wrap justify-between gap-8 text-center lg:text-right">
        <!-- بازار بورس -->
        <div
            class="bg-[#fff] dark:bg-[#264553] flex flex-col w-full lg:max-w-[48%] p-6 md:p-10 gap-8 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm">
            <div class="flex sm:flex-row flex-col gap-4 justify-between items-center">
                <a href="#" class="text-xl md:text-2xl font-semibold dark:text-white">نمودار شاخص بازار بورس</a>
                <a href="#"
                    class="inline-flex sm:max-w-[150px] w-full justify-center items-center px-3 py-2 text-sm font-medium text-white bg-[#F26827] hover:bg-[#faa67e] hover:text-black dark:text-black hover:dark:text-white hover:dark:bg-[#F26827] dark:bg-[#95c0cf] rounded-lg">
                    مشاهده آمار
                </a>
            </div>
            <app-market-chart *ngIf="volumeData.length" [title]="''" [seriesData]="volumeData" [seriesName]="'بورس'"
                [color]="'#00C8B5'" [isDarkMode]="isDarkMode">
            </app-market-chart>
        </div>

        <!-- فرابورس -->
        <div
            class="bg-[#fff] dark:bg-[#264553] flex flex-col w-full lg:max-w-[48%] p-6 md:p-10 gap-8 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm">
            <div class="flex sm:flex-row flex-col gap-4 justify-between items-center">
                <a href="#" class="text-xl md:text-2xl font-semibold dark:text-white">نمودار شاخص بازار فرابورس</a>
                <a href="#"
                    class="inline-flex sm:max-w-[150px] w-full justify-center items-center px-3 py-2 text-sm font-medium text-white bg-[#F26827] hover:bg-[#faa67e] hover:text-black dark:text-black hover:dark:text-white hover:dark:bg-[#F26827] dark:bg-[#95c0cf] rounded-lg">
                    مشاهده آمار
                </a>
            </div>
            <app-market-chart *ngIf="priceData.length" [title]="''" [seriesData]="priceData" [seriesName]="'فرابورس'"
                [color]="'#00C8B5'" [isDarkMode]="isDarkMode">
            </app-market-chart>
        </div>
    </div>
    <div class="my-16  sm:m-4 sm:px-4 m-2  flex flex-wrap justify-center gap-8 text-center lg:text-right ">
        <!-- نمودار حجم معاملات بورس -->
        <div
            class="bg-[#fff] dark:bg-[#264553] flex flex-col w-full p-6 md:p-10 gap-8 border border-gray-200 dark:border-gray-700 rounded-lg shadow-sm">
            <div class="flex sm:flex-row flex-col gap-4 justify-between items-center">
                <a href="#" class="text-xl md:text-2xl font-semibold dark:text-white">نمودار حجم معاملات بورس</a>
                <a href="#"
                    class="inline-flex sm:max-w-[150px] w-full justify-center items-center px-3 py-2 text-sm font-medium text-white bg-[#F26827] hover:bg-[#faa67e] hover:text-black dark:text-black hover:dark:text-white hover:dark:bg-[#F26827] dark:bg-[#95c0cf] rounded-lg">
                    مشاهده آمار
                </a>
            </div>
            <app-market-chart *ngIf="volumeData.length" [title]="''" [seriesData]="volumeData" [seriesName]="'بورس'"
                [color]="'#00C8B5'" [isDarkMode]="isDarkMode">
            </app-market-chart>
        </div>
    </div>

</div>