/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* استایل‌های عمومی */
body {
  transition: background-color 0.3s, color 0.3s;
}

/* تم روشن */
body {
  background-color: #F8F9FB;
  color: #000000 ;
}

/* تم تاریک */
body.dark {
  background-color: #264553;
  color: #ffffff;
}
