/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Vazirmatn', sans-serif !important;
  direction: rtl;
  transition: background-color 0.3s, color 0.3s;
}


body {
  background-color: #F8F9FB;
  color: #000000;
}

/* تم تاریک */
body.dark {
  background-color: #264553;
  color: #ffffff;
}
