<form dir="rtl" (submit)="handleSearch($event)"
    class="flex items-center rounded-lg  overflow-hidden border border-gray-200 dark:border-[#081122] dark:border bg-[#fff] dark:bg-[#fff] w-full max-w-md mx-auto shadow-sm">

    <!-- آیکون درست -->
    <button type="submit" class="bg-[#E1E9F1] px-4 py-3 flex items-center justify-center hover:bg-[#d1dae2]  dark:bg-[#081122]">
        <fa-icon [icon]="faSearch" class="text-gray-500 w-4 h-4 dark:text-[#fff]"></fa-icon>
    </button>

    <input [(ngModel)]="search" name="search" type="search" placeholder="جستجوی نماد"
        class="flex-1 px-3 min-w-72 py-2 text-sm text-gray-700 placeholder:text-gray-600 focus:outline-none bg-[#fff] dark:bg-[#fff]" />
</form>